.main-footer {
  background: $secondary-500;
  padding: 4rem 0rem;
}

.footer-social {
  display: flex;
  align-items: center;

  gap: 0.6rem;
  & > div {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;

    a {
      width: $value-40;
      height: $value-40;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.2);
      color: #fff;
      border-radius: 100%;
      font-size: 1.4rem;
      i {
        display: block;
        margin-top: 0.4rem;
      }
    }
  }
}
