.select-card-colors {
  .colors-list {
    display: flex;
    gap: $value-8;
  }
}

.color-radio {
  appearance: none;
  -webkit-appearance: none;
  width: $value-56;
  height: $value-40;

  //   border: 2px solid #ccc;
  border-radius: $value-8;
  cursor: pointer;
}

.color-radio:checked {
  border: 0.2rem solid $secondary-500;
}

.blue {
  background-color: #c1e3f6;
}
.green {
  background-color: #bde5e5;
}
.semon {
  background-color: #ffd4c9;
}
.yellow {
  background-color: #fdd6b0;
}
