* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*========================= margin-top =========================*/
.mt-4 {
  margin-top: $value-4;
}
.mt-8 {
  margin-top: $value-8;
}
.mt-12 {
  margin-top: $value-12;
}
.mt-16 {
  margin-top: $value-16;
}
.mt-20 {
  margin-top: $value-20;
}
.mt-24 {
  margin-top: $value-24;
}
.mt-28 {
  margin-top: $value-28;
}
.mt-32 {
  margin-top: $value-32;
}
.mt-36 {
  margin-top: $value-36;
}
.mt-40 {
  margin-top: $value-40;
}
.mt-44 {
  margin-top: $value-44;
}
.mt-48 {
  margin-top: $value-48;
}
.mt-52 {
  margin-top: $value-52;
}
.mt-56 {
  margin-top: $value-56;
}

/*========================= margin-bottom =========================*/

.mb-4 {
  margin-bottom: $value-4;
}
.mb-8 {
  margin-bottom: $value-8;
}
.mb-12 {
  margin-bottom: $value-12;
}
.mb-16 {
  margin-bottom: $value-16;
}
.mb-20 {
  margin-bottom: $value-20;
}
.mb-24 {
  margin-bottom: $value-24;
}
.mb-28 {
  margin-bottom: $value-28;
}
.mb-32 {
  margin-bottom: $value-32;
}
.mb-36 {
  margin-bottom: $value-36;
}
.mb-40 {
  margin-bottom: $value-40;
}
.mb-44 {
  margin-bottom: $value-44;
}
.mb-48 {
  margin-bottom: $value-48;
}

.mb-52 {
  margin-bottom: $value-52;
}
.mb-56 {
  margin-bottom: $value-56;
}

/*========================= padding =========================*/

.p-4 {
  padding: $value-4 !important;
}
.p-8 {
  padding: $value-8;
}
.p-12 {
  padding: $value-12;
}
.p-16 {
  padding: $value-16;
}
.p-20 {
  padding: $value-20;
}
.p-24 {
  padding: $value-24;
}
.p-28 {
  padding: $value-28;
}
.p-32 {
  padding: $value-32;
}
.p-36 {
  padding: $value-36;
}
.p-40 {
  padding: $value-40;
}

/*========================= padding-top =========================*/

.pt-4 {
  padding-top: $value-4;
}
.pt-8 {
  padding-top: $value-8;
}
.pt-12 {
  padding-top: $value-12;
}
.pt-16 {
  padding-top: $value-16;
}
.pt-20 {
  padding-top: $value-20;
}
.pt-24 {
  padding-top: $value-24;
}
.pt-28 {
  padding-top: $value-28;
}
.pt-32 {
  padding-top: $value-32;
}
.pt-36 {
  padding-top: $value-36;
}
.pt-40 {
  padding-top: $value-40;
}

.pt-44 {
  padding-top: $value-44;
}
.pt-48 {
  padding-top: $value-48;
}
.pt-52 {
  padding-top: $value-52;
}
.pt-56 {
  padding-top: $value-56;
}
/*========================= padding-bottom =========================*/
.pb-4 {
  padding-bottom: $value-4;
}
.pb-8 {
  padding-top: $value-8;
}
.pb-12 {
  padding-bottom: $value-12;
}
.pb-16 {
  padding-bottom: $value-16;
}
.pb-20 {
  padding-bottom: $value-20;
}
.pb-24 {
  padding-bottom: $value-24;
}
.pb-28 {
  padding-bottom: $value-28;
}
.pb-32 {
  padding-bottom: $value-32;
}
.pb-36 {
  padding-bottom: $value-36;
}
.pb-40 {
  padding-bottom: $value-40;
}

/*/*/
