.cardHeight-200 {
  height: 12.5rem;
  overflow: hidden;
}
.cardHeight-300 {
  height: 12.5rem;
  overflow: hidden;
}
.cardHeight-350 {
  height: 21.875rem;
  overflow: hidden;
}
.cardHeight-400 {
  height: 25rem;
  overflow: hidden;
}

.cardHeight-500 {
  height: 31.25rem;
  overflow: hidden;
}
.cardHeight-600 {
  height: 37.5rem;
  overflow: hidden;
}
