.radius-4 {
  border-radius: $value-4;
}
.radius-8 {
  border-radius: $value-8;
}
.radius-12 {
  border-radius: $value-12;
}
.radius-16 {
  border-radius: $value-16;
}
.radius-20 {
  border-radius: $value-20;
}
.radius-24 {
  border-radius: $value-24;
}
.radius-28 {
  border-radius: $value-28;
}
.radius-32 {
  border-radius: $value-32;
}
.radius-36 {
  border-radius: $value-36;
}
.radius-40 {
  border-radius: $value-40;
}
