.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url("../images/ripple.gif");
  background-repeat: no-repeat;
  background-color: $secondary-50;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 6rem;
    height: 6rem;
  }
}

/*/*/
