.statistics-figure {
  background-color: #fff;
  box-shadow: 0px $value-4 $value-8 rgba(0, 0, 0, 0.1);
  padding: $value-16;
  border-radius: $value-12;
  display: flex;
  align-items: flex-start;
  gap: $value-16;
  height: 100% !important;
  margin: 0px;
  @media screen and (max-width: 414px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  & > span {
    width: $value-44;
    height: $value-44;
    display: flex;
    border-radius: 100%;
    background-color: $secondary-50;

    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    i {
      font-size: 1.4rem;
      display: inline-block;
      margin-top: 10px;
      color: $secondary-500;
    }
  }
  figcaption {
    p {
      font-size: 1rem;
      font-weight: 500;
      color: #666;
    }
    b {
      font-size: 1.4rem;
      font-weight: 700;
      span {
        font-size: 0.9rem;
      }
    }
    & > span {
      display: block;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}

/*/*/

.drop-icon-view {
  position: relative;
  height: 100% !important;
  figure {
    cursor: pointer;
    position: relative;
  }

  .drop-icon {
    position: absolute;
    top: 50%;
    #{$left}: 1rem;

    transform: translateY(-50%);
  }
  .dropdown-menu {
    width: 100%;
  }
}
